

.inputContainer {
  min-height: 3em;
  width: 100%;
  padding: .5rem;
  background-color: $background;
  border-radius: .3em;
  display: inline-flex;
  border-bottom: 1px solid $light-grey;
  ;

  input {
    width: 100%;
    box-shadow: none;
    outline: 0;
  }
}