
.todolist {
  min-width: 300px;
  width: 92vw;
  max-width: 600px;
}

.notetable {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 3em;
  background-color: $background;
  border-radius: .3em;
  margin-bottom: 3rem;
}

.listitem {
  position: relative;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  border-top: none;
  border-radius: .3em;
  overflow:hidden;
  height: auto;

  div {
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .toggleIcon {
    font-size: 1.25em;
    width: 2em;
    height: 2em;
    
    i {
      color: $middark-grey;
      font-size: 1.3em;
    
      &.on {
        color: green;
      }
    }
  }

  .innerColumn{
    position: relative;
    min-width: 75%;
    display: flex;
    overflow: hidden;
    p {
      width: 100%;
    }
  }

  .delete-elem-wrapper {
    display: block;
    .delete-elem {
      margin-right: .4em;
      float: right;
      width: 2.5em;
      height: 2.5em;
  
      i {
        font-size: 1.4em;
      }
    }
  }
  
}


