

.timemenu {
  border: 1px solid green;
  display: inline-flex;
  width: fit-content;
  min-height: 3em;
  border-radius: .3em;
  cursor: pointer;


  :first-child {
    border-radius: .3em 0 0 .3em;
    border-right: 0;
  }

  
  :last-child {
    border-radius: 0 .3em .3em 0;
    border-left: 0;
  }

  a {
    @include flexcentered;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    min-height: 3em;
    padding: .4em;
    background-color: $background;
    color: $text-color;
    border: 1px solid $middark-grey;

    &:hover {
      background-color: $light-grey;
    }

    &:active {
      background-color: $mid-grey;
    }
  }

}


.circlecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > div, button {
    margin-top: 1.5em;
  }
}

.clock.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18em;
  height: 18em;
  border-radius: 50%;
  background-color: $circle-color;
}