body {
  background-color: purple;
}


.toggleButton {
  color: rgb(214, 68, 0);

  &.on {
    color: green;
  }
}


.gradient {
  height: 20em;
  background: rgb(144,4,237);
  background: linear-gradient(354deg, rgba(144,4,237,1) 20%, rgba(237,4,208,1) 80%);
}

.growing {
  &:hover {
    transform: scale(1.1);
  }
}


.flexcenter {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.iconheader {
  margin: '0em auto 0.25em';
}

.clock.circle{
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.container.fixed-width {
  min-width: 300px!important;
  max-width: 50%!important;
}

.ui.icon.header.icon *{
  color: rgb(230, 230, 230);
  text-shadow: 2px 3px 4px #3a0018;
}


@media only screen and (max-width: 767px){
  .ui.container.fixed-width {
    width: auto!important;
    min-width: 320px!important;
    max-width: 100%!important;
    margin-left: .5em!important;
    margin-right: .5em!important;
  }
}
  
